@import 'styles/colors.scss';

.sign-in-form {
    padding: 32px 32px 24px;
    box-shadow: 0 0 30px rgba(39, 35, 67, .12);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 32px;
        line-height: 110%;
        font-weight: 600;
        color: $martinique;
    }

    &__email {
        margin-top: 24px;
    }

    &__password {
        margin-top: 16px;
    }

    &__button {
        height: 52px;
        background-color: $bondiBlue;
        margin-top: 24px;
        line-height: 110%;
        font-weight: 500;
        color: $white;

        svg path {
            stroke: $white;
        }
    }

    &__options {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
    }

    &__remember-me-label {
        display: flex;
        align-items: center;
        
        label {
            cursor: pointer;
        }
    }

    &__recover-password {
        font-size: 14px;
        line-height: 110%;
        font-weight: 500;
        color: $blueLagoon;
        user-select: none;
    }

    &__sign-up {
        margin-top: 24px;
        color: $martinique;
        font-size: 14px;

        a {
            color: $blueLagoon;
            font-weight: 500;
        }
    }
}