@import 'styles/colors.scss';

.cart-button {
    padding: 0 15px;
    display: flex;
    align-items: center;

    &__label {
        font-size: 12px;
        font-weight: 500;
        margin-left: 8px;
    }

    &__number {
        padding: 5px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $blueLagoon;
        color: $white;
        font-size: 10px;
        font-weight: 500;
        margin-left: 12px;
    }
}