$white: #FFFFFF;
$black: #000000;
$porcelain: #F0F2F3;
$cornflowerBlue: #272343;
$santasGray: #9A9CAA;
$martinique: #272343;
$blueLagoon: #007580;
$midGray: #636270;
$iron: #E1E3E5;
$bondiBlue: #029FAE;
$mirage: #161932;
$silver: #CCCCCC;
$watercourse: #037F53;
$gallery: #EEEEEE;
$energyYellow: #F4DA58;